.app-container {
  margin: auto;
  text-align: center;
  background: linear-gradient(to right, #ECE9E6, #FFFFFF);
  min-height: 100vh;
  padding: 15px;
  padding-top: 1px;
  border-radius: 5px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.budget-container {
  margin-bottom: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.input-field-budget {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 10%;
}
.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.date-label {
  flex: 0.5;
  font-weight: bold;
}

.date-input {
  flex: 1.5;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.add-btn:hover {
  background-color: #218838;
}
.error {
  color: red;
  font-size: 14px;
}
.expense-list {
  list-style: none;
  padding: 0;
}
.expense-item {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.delete-btn {
  background: rgb(246, 103, 103);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 20%;
}
.delete-btn:hover {
  background-color: rgb(203, 5, 5);
}
.summary {
  margin-top: 20px;
}
.balance {
  font-size: 18px;
  font-weight: bold;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.clear-btn {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  width: 100%;
}
.clear-btn:hover {
  background-color: darkred;
}
.year-expense {
  padding: 8px;
  border-radius: 10px;
  background-color: #ECE9E6;
}
.savings {
  background-color: #f1ebeb;
  border-radius: 10px;
  padding: 1px;
}
